@model IEnumerable<PhotoSharingApplication.Models.Photo>


<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>_PhotoGallery</title>
</head>
<body>
    <div class="photo-index-card">
        @foreach (var item in Model)
        {
            <h3>"@item.Title"</h3>
            if (item.PhotoFile != null)
            {
                <img class="photo-index-card-img" src="@Url.Action("GetImage","Photo",new { id = item.PhotoID })" />
            }

            <span class="display-label">
                Created By:
            </span>

            <span class="display-field">
                @Html.DisplayFor(model => item.UserName)
            </span>

            <span class="display-label">
                Created On:
            </span>
            <span class="display-field">
                @Html.DisplayFor(model => item.CreatedDate)
            </span>


            @Html.ActionLink("Display", "Display", new { id = item.PhotoID })

        }
    </div>
</body>
</html>
